<div class="container">
  <div class="alert alert-danger" role="alert" [hidden]="!error">
    {{error}}
  </div>
  <h1>Places</h1>
  <a class="btn btn-primary btn-sm" routerLink="/create-place/new">Create place</a>
  <br>
  <div id="square" [@animatedContainer]="state"></div>
  <br>
  <ul>
    <ng-container *ngFor="let place of places">
      <li [highlight]="place.subscription">
        <a routerLink="/create-place/{{place.id}}">{{place.name}}</a>
        <small> - {{place.createdAt | date: 'short'}}</small>
        <p [innerHtml]="place.description | linkifystring"></p>
      </li>
    </ng-container>
    <br>
  </ul>
</div>
<agm-map *ngIf="places.length" [latitude]="places[0].lat" [longitude]="places[0].lng">
  <agm-marker *ngFor="let place of places" [latitude]="place.lat" [longitude]="place.lng">
  </agm-marker>
</agm-map>
