<nav aria-label="breadcrumb" class="breadcrumb-wrapper">
  <div class="container">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/places">Places</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        {{isEditing ? 'Update' : 'Create'}} place
      </li>
    </ol>
  </div>
</nav>

<div class="container">
  <form>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" placeholder="Enter name" [(ngModel)]="place.name" name="name">
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="description" placeholder="Enter description" [(ngModel)]="place.description" name="description"></textarea>
    </div>


    <div class="form-group">
      <label for="subscription">Subscription</label>
      <div class="input-group mb-3">
        <select class="custom-select w-100" id="subscription" [(ngModel)]="place.subscription" name="subscription" value="free">
          <option selected value="free">Free</option>
          <option value="premium">Premium</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="subscription">Active</label>
      <div class="input-group mb-3">
        <select class="custom-select w-100" id="subscription" [(ngModel)]="place.active" name="active" value="yes">
          <option value="yes" selected>Yes</option>
          <option value="no">No</option>
        </select>
      </div>
    </div>

    <h2>Adress</h2>
    <div class="form-group">
      <label for="street">Street</label>
      <input type="text" class="form-control" id="street" placeholder="Enter street" [(ngModel)]="place.street" name="street">
    </div>

    <div class="form-group">
      <label for="city">City</label>
      <input type="text" class="form-control" id="city" placeholder="Enter city" [(ngModel)]="place.city" name="city">
    </div>

    <div class="form-group">
      <label for="country">Country</label>
      <input type="text" class="form-control" id="country" placeholder="Enter country" [(ngModel)]="place.country" name="country">
    </div>

    <button class="btn btn-primary" *ngIf="isEditing"
            (click)="editPlace()">Update</button>
    <button class="btn btn-primary" *ngIf="!isEditing"
            (click)="createPlace()">Create</button>
    <a class="btn btn-light" routerLink="/">Cancel</a>
  </form>
</div>
