<nav aria-label="breadcrumb" class="breadcrumb-wrapper">
  <div class="container">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/places">Places</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">{{place.name}}</li>
    </ol>
  </div>
</nav>

<div class="container">
  <h1>{{place.name}}</h1>
  <small>{{place.distance}}</small>
  <br>
  <div class="highlight">
    <p>{{place.description}}</p>
    <strong>{{place.subscription}}</strong>
  </div>
</div>
